body{ 
	background-color:blanchedalmond;
	color:crimson;

}
.navbar{
	background-color:crimson;
}

#clear{
	clear:both;
}
.carousel{
	width:95%;
	margin:auto;
}

.carousel-inner img {
	margin: auto;
}

.item{
	border: crimson solid 2px;
	margin:15px;
	text-align:center;
	padding:5px;
	width:20%;
	float:left;
}

.item_details{
	font-size: 10pt;
}
.item_link{
	cursor: pointer;
}

.myButton{
	background-color:crimson;
	width:90%;
	color:rgba(211,211,211,0.7);
	margin:auto;
	border:none;
	cursor: pointer;
	height:30px;
}

.myButton:hover{
	text-decoration:none;
	color:rgba(211,211,211,1);
}

.dropdown-menu{
	background-color:crimson;
}

.dropdown-item{
	color:rgba(211,211,211,0.7);
}

.dropdown-item:hover{
	background-color:crimson;
	color:rgba(211,211,211,1);
}

.item-container{
	border: 2px solid crimson;
	padding:20px;
	position:relative;
}

.item-container > .myButton{
	width:150px;
}

.item-container > img{
	float:left;
	margin-right:15px;
}

.tab-content{
	background-color:crimson;
	color:rgba(211,211,211,1);
}

#tab > a.active{
	background-color:crimson;
	color:rgba(211,211,211,1);
	border:none;
}

#tab > a{
	background-color:blanchedalmond;
	color:crimson;
}

#tab > a:hover{
	border:1px solid crimson;
}

.tab-pane{
	padding:10px;
}

.input-form > label[for]{
	width:70px;
}

.input-form > input[type="email"]:hover,.input-form > input[type="password"]:hover, .input-form > input[type="text"]:hover,.input-form > input[type="number"]:hover, .input-form > input[type="month"]:hover,textarea:hover{
	outline:1px solid crimson;
}

.input-form > input[type="email"]:focus,.input-form > input[type="password"]:focus, .input-form > input[type="text"]:focus,.input-form > input[type="number"]:focus, .input-form > input[type="month"]:focus,textarea:focus{
	outline:1px solid crimson;
}

.input-form > a{
	font-size:14px;
	color:crimson;
}

.input-form > a:hover{
	color:#8c0d26;
}

.wrapper{
	position:relative;
	padding:15px;
}

.side-div-left{
	width:20%;
	display:inline-block;
}
.cart-main-container, .cart-main-container >a{
	color:lightgray;
	font-size:12px;
}
	
.cart-container{
	border: 1px black solid;
	overflow-y:scroll;
	width:250px;
	height:50px;
	display:inline-block;
	padding:5px;
}
.cart-item{
	display:block;
	margin-bottom:5px;
}
.cart-item > input{
	border:none;
	width:20px;
	height:20px;
	background-color:blanchedalmond;
	text-align:center;
	float:right;
	color:crimson;
}
.cart-item > input:hover{
	background-color:lightblue;
}

.wrapper > .cart-container{
	font-size:16pt;
	width:100%;
	border:2px crimson solid;
	overflow-y:hidden;
	height:100%;
}

.wrapper > .cart-container > .cart-item >input {
	width:40px;
	height:40px;
	color:blanchedalmond;
	background-color:crimson;
}

.wrapper > .cart-container > .cart-item >input:hover{
	background-color:lightblue;
}

.wrapper > .cart-container > .cart-item {
	margin-bottom:20px;
}
.wrapper > .myButton {
	display:block;
	margin:0 auto;
}

.checkout > label[for]{
	width:120px;
}
.checkout > input[type="submit"]{
	width:40%;
	display:block;
	margin:auto;
}

.links_that_should_look_like_buttons{
	text-decoration:none;
	display:block;
	width:20%;
	height:30px;
	background-color:crimson;
	color:rgba(211,211,211,0.7);
	margin:0 auto;
	text-align:center;
}

.links_that_should_look_like_buttons:hover{
	text-decoration:none;
	color:rgba(211,211,211,1);
}

#itemImg{
	display:inline-block;
	width:70%;

}

.Error{
	background-color:pink;
	border:1px solid red;
	color:red;
}

.Success{
	background-color:#a7f1a7;
	border:1px green solid;
	color:green;
}